<div class="container container-tight py-4">
    <div class="text-center mb-4">
        <a href="/" class="navbar-brand navbar-brand-autodark">
            <img src="{{{ config.logo }}}" height="36" alt="logo">
        </a>
    </div>
    <div class="card card-md">
        <div class="card-body">
            {{#if pageName}}
            <h2 class="h2 text-center mb-4">{{ pageName }}</h2>
            {{/if}}

            {{{ payload }}}
        </div>
    </div>
</div>
